<div class="container">

  <div class="cocktail-details">
    <h1><%= @cocktail.name %></h1>
    <% if @cocktail.photos? %>
      <% @cocktail.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
      <% end %>
    <% end %>


      <% @cocktail.doses.each do |dose| %>
    <ul>
      <li>
        <%= dose.ingredient.name %>
        <%= dose.description %>
        <%= link_to "Delete a dose", dose_path(dose), method: :delete %>
      </li>
    </ul>
      <% end %>
  </div>

<hr>

  <div class="add-form">
    <h2>Add a Dose</h2>

    <%= simple_form_for(@dose) do |f| %>
      <%= f.error_notification %>
      <%= f.association :ingredient %>
      <%= f.input :description %>
      <%= f.hidden_field :cocktail_id, value: @cocktail.id %>
      <div class="text-center">
      <%= f.button :submit, class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>


</div>

